<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Fierce Gnomes" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
    <link rel="icon" type="image/x-icon" href="http://fiercegnomes.com/party-hat.ico" />
      <link rel="stylesheet" href="../responsiveslides.css">
      <link rel="stylesheet" href="demo.css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="../responsiveslides.min.js"></script>
      <script>
        // You can also use "$(window).load(function() {"
        $(function () {

          // Slideshow 1
          $("#slider1").responsiveSlides({
            maxwidth: 800,
            speed: 800
          });

          // Slideshow 2
          $("#slider2").responsiveSlides({
            auto: false,
            pager: true,
            speed: 300,
            maxwidth: 540
          });

          // Slideshow 3
          $("#slider3").responsiveSlides({
            manualControls: '#slider3-pager',
            maxwidth: 540
          });

          // Slideshow 4
          $("#slider4").responsiveSlides({
            auto: false,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
              $('.events').append("<li>after event fired.</li>");
            }
          });

        });
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48570719-1', 'fiercegnomes.com');
        ga('send', 'pageview');

      </script>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>